body {
	background: url(../imagen/fondo/bgMIXcafe.jpg);
}

section {
	margin: auto;
	width: 80%;
}

h1 {
	color:#e7931a;
	font-size: 40pt;
	text-align: center;
}

h2 {
	text-decoration: underline;
	text-shadow: 0px 0px 1px #d0eb6a;
}

h2, h3{
	color: #e7931a;
	text-align: center;
}

p{
	color:#e7931a;
	text-align: center;
}
span{
	color:#e7931a;
	text-align: center;
	font-size: 20pt;
}

footer, header{
	background:url(../imagen/fondo/bgGREGASmorado.jpg);
	box-shadow: 0px 0px 10px  2px #777;
	color: #f28516;
	padding: 10px 50px;
	width: 80%;
	height: 100%;
	border-radius: 10px;
	margin: 20px auto;
	overflow: hidden;
}

/* Contenedor GENERAL*/
#contenedorPuzzle {
	margin: 20px auto;
	width: 74%;
	background: url(../imagen/fondo/bgGREGASmorado.jpg);
	box-shadow: 0px 0px 5px  1px #777;
	color: #ccc;
	padding: 10px 50px 50px 50px;
	border-radius: 10px;
	overflow: hidden;
}
/*LADO IZQUIERDO*/
#contenedorPuzzle img {
	float: left;
	padding: 1px;
	width: 148px;
	height: 148px;
}
/*DESTINO LADO IZQUIERDO*/
#contenedorPiezas{
	background: #f28516;
	width: 300px;
	height: 300px;
	float: left;
	margin-left: 20px;
	box-shadow: 0px 0px 5px  1px #d0eb6a;
}
/*ORIGEN LADO DERECHO*/
#puzzle {
	background-image: url(../imagen/juego/puzzle.png);
	margin:5px auto;
	width: 300px;
	height: 300px;
	float: right;
	margin-right: 20px;
	box-shadow: 0px 0px 5px  1px #e7931a;
}
/*LADO DERECHO*/
.contenedorPieza {
	width: 150px;
	height: 150px;
	float: left;
}
#calificar{
	width: 149px;
	height: 149px;
	float:left;
	margin-top: 75px;
	box-shadow: 0px 0px 5px  1px #d0eb6a;
}
