body{
	background-image: url('../imagen/bgGREGASmorado.jpg');
}
nav {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
	background-image: url('../imagen/bgMIXcalipso.jpg');
}
a {
	display: block;
	background-repeat: no-repeat;
	text-decoration: none;
	color: #191C26;
	font-family: sans-serif;
	font-size: 20px;
}
a:hover {
	background-image: url('../imagen/bgMIXcafe.jpg');
	background-repeat: no-repeat;
}
ul li ul {
	display: none;
}
ul li a:hover + ul, ul li ul:hover {
	display: block;
}
#cabecera{
	background-image: url('../imagen/bgMIXcafe.jpg');
	height: 40px;
	text-align: center;
	font-family: sans-serif;
	font-size: 30px;
}
#piePagina{
	text-align: center;
	background-image: url('../imagen/bgMIXcafe.jpg');
	height: 25px;
}
section h1{
	font-family: sans-serif;
	font-size: 60px;
	text-align:center;
}
section p{
	font-family: sans-serif;
	font-size: 40px;
}
.boton{
	background-color: transparent !important;
	background-repeat: no-repeat;
	background-size: 45px 45px;
	width: 50px;
	height: 50px;
}
#cuento{
	background-image: url('../imagen/bgGREGAScafe.jpg');
}
span #taza0,span #taza1,span #taza2{
	background-image: url('../imagen/01tazab.png');
}
span #florero0,span #florero1,span #florero2{
	background-image: url('../imagen/05florerob.png');	
}
span #casa0{
	background-image: url('../imagen/02casab.png');
}
span #mesa0{
	background-image: url('../imagen/03mesab.png');
}
span #vitrina0,span #vitrina1{
	background-image: url('../imagen/04vitrinab.png');
}
span #avion0,span #avion1{
	background-image: url('../imagen/07avionb.png');
}
span #tren0,span #tren1{
	background-image: url('../imagen/08trenb.png');
}
span #barco0,span #barco1{
	background-image: url('../imagen/09barcob.png');
}
span #rosas0,span #rosas1{
	background-image: url('../imagen/10rosasb.png');
}
span #claveles0{
	background-image: url('../imagen/11clavelesB.png');
}
span #platos0{
	background-image: url('../imagen/12platosb.png');
}
span #vasos0{
	background-image: url('../imagen/12vasosb.png');
}
span #tazas0{
	background-image: url('../imagen/13tazasb.png');
}
span #papas0{
	background-image: url('../imagen/14papasb.png');
}
span #lechugas0{
	background-image: url('../imagen/15lechugasb.png');
}
span #planeta0{
	background-image: url('../imagen/06planetab.png');	
}